* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header {
    background-color: red;
    height: 10vh;
}

.head {
    display: flex;
    padding: 0% 25% 0% 5%;
    align-items: center;
    height: 10vh;
}

html {
    background-color: rgb(10, 10, 10);
}

.logo-container, .nav-links, .cart, .commission   {
    display: flex;
}

.cart {
    position: absolute;
    right: 49%;
    top: 3%;
}
.logo-container {
    flex: 1;
}

nav {
    flex: 2;
    font-size: 18px;
    font-weight: 800;
}

.nav-links {
    flex: 1;
    list-style: none;
    justify-content: space-around;
    align-items: flex-end;
}

.nav-link {
    text-decoration: none;
    color: purple;
}

.nav-link:hover {
    color: white;
}

.commission {
    display: flex;
}

main {
    color: red;
    font-size: 36px;
    text-align: center;
    margin-top: 5%;
}

h2:hover {
    color: purple;
}
.art-display {
    margin-top: 2%;
    display: grid;
    height: 85vh;
    width: 100%;
    background-color: red;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
    grid-gap: 4rem;
}
.art1, .art2, .art3, .art4, .art5, .art6 { filter: drop-shadow(0px 5px 3px black);}
.art1 {
    background-color: orange;
}

.art2 {
    background-color: blue;
}
.art3 {
    background-color: green;
}
.art4 {
    background-color: yellow;
}
.art5 {
    background-color: purple;
}
.art6 {
    background-color: cyan;
}

.block {
    background-color: rgb(10, 10, 10);
    height: 10vh;
    width: 100vh;
}

footer {
    background-color: rgb(22, 22, 22);
    height: 25vh;
    border-top: 3px solid rgb(36, 36, 36);
}

.credits {
    text-align: right;
    display: inline-block;
}

.credits:hover {color: red;}

h2 {
    width: auto;
    display: inline-block;
}
.container {
    text-align: right;
}
