* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header {
    background-color: red;
    height: 10vh;
}

.head {
    display: flex;
    padding: 0% 25% 0% 5%;
    align-items: center;
    height: 10vh;
}

html {
    background-color: black;
}

.logo-container, .nav-links, .cart, .commission   {
    display: flex;
}

.cart {
    position: absolute;
    right: 44%;
    top: 3%;
}
.logo-container {
    flex: 1;
}

nav {
    flex: 2;
    font-size: 18px;
    font-weight: 800;
}

.nav-links {
    flex: 1;
    list-style: none;
    justify-content: space-around;
    align-items: flex-end;
}

.nav-link {
    text-decoration: none;
    color: purple;
}

.commission {
    display: flex;
}

main {
    color: red;
    font-size: 36px;
    text-align: center;
    margin-top: 5%;
}

.art-display {
    margin-top: 2%;
    display: grid;
    height: 85vh;
    width: 100%;
    background-color: red;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 4rem;
}

.art1 {
    background-color: orange;
}

.art2 {
    background-color: blue;
}
.art3 {
    background-color: green;
}
.art4 {
    background-color: yellow;
}
.art5 {
    background-color: purple;
}
.art6 {
    background-color: cyan;
}



